.backgroundBooking {
  background-image: url(../../../pictures/ullriken.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px;

  h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
}

.bookingForm {
  h2 {
    color: white;
  }
}

.bookingWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 80%;
    height: 50px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.bookingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.712);
  max-width: 1000px;
}
.bookingSubmit {
  width: 200px;
}

.error-message-booking {
  text-align: center;
  margin-top: 20px;
  color: rgb(243, 0, 0);
  padding: 10px;
  width: 70%;
}

@media screen and (min-width: 900px) {
  .bookingForm {
    // width: 40%;
    width: 80%;
  }

  .bookingWrap {
    input {
    }
  }

  .error-message-booking {
    font-size: 20px;
  }

  .backgroundBooking {
    padding: 10;
  }
}
