.backgroundBooking {
  background-image: url(../../../pictures/ullriken.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.bookingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  input {
    width: 50%;
    height: 50px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.bookingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.747);
  width: 100%;
  margin-top: 150px;
}
.bookingSubmit {
  width: 200px;
}

.error-message-booking {
  text-align: center;

  color: rgb(255, 148, 148);
  padding: 10px;
}
@media screen and (min-width: 900px) {
  .bookingForm {
    width: 40%;
    margin-top: 300px;
  }
}
