.hotelRoom {
  width: 50%;
}
.detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .mathallen-img {
//   width: 100%;
// }

.detailHero {
  background-image: url();
}
