.detailContainer {
}

.headerDetail {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 60px;
    margin-top: 70px;
    color: #2d7b84;
  }
}

.detailWraper {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 10px;
    line-height: 2.5em;
    margin-right: 50px;
  }
}
.hotelRoom {
  width: 70%;
  border-radius: 5px;
  height: 30%;
}

.detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-name-container {
  padding: 20px;
  h2 {
    color: black;
  }
}

@media screen and (min-width: 700px) {
  .detailWraper {
    p {
      line-height: 1.5em;
      margin-right: 50px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .hotelRoom {
    height: 800px;
  }

  .detailWraper {
    p {
      font-size: 2rem;
    }
  }
}
