.detailWrapper {
}

.detailContainer {
  position: relative;

  background-color: transparent;
}

.detail-heading-container {
}

.heading-detail {
  margin-bottom: 50px;
}

.detail-image-header-container {
  position: relative;

  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);

  .dynamicPic {
    position: absolute;
    width: 100%;

    z-index: -10;
  }
}
.welcome-text,
.description-text-detail {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  h2 {
    padding: 20px;
  }
}

.description-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  p {
    width: 70%;
  }
}

@media screen and (min-width: 500px) {
  .dynamicPic {
    height: 50vh;
  }
  .detail-image-header-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    justify-content: flex-start;
  }
  .heading-detail {
    margin-top: 200px;
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .heading-detail {
    font-size: 80px;
    margin-top: 220px;
  }
  .description-text-detail {
    font-size: 30px;
  }
}
