.backgroundImgFront {
  z-index: -1;
  background-image: url(../../../pictures/Bergen-brygge-pixlr.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  // position: absolute;
  width: 100%;
  top: 0;
}
.headerFront {
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 60px;
    // height: 140px;
    border-radius: 9px;
    color: white;
    background-color: rgba(0, 0, 0, 0.653);
  }
}

.logo-img {
  height: 80px;
}

.heroImgFront {
  width: 100%;
  height: 40vh;
}

.flexHeroButton {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgba(0, 0, 0, 0.615);
  width: 50%;
  margin: auto;
  margin-top: 200px;
  height: 100px;

  button {
    height: 80px;
  }
}
.viewHotels {
  width: 50%;
}

.restaurantImg {
  width: 100%;
}

.containerHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  padding: 50px;
  width: 100%;
  // position: relative;
  // bottom: 100px;
}

.dynamicImagesFront {
  height: 250px;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.singleResult {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.detailButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.readMore {
  font-size: large;
}

.backgroundBreakfast {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  background-image: url(../../../pictures/breakfeast.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // object-fit: cover;
}

.breakfastDescription {
  // display: flex;
  // flex-direction: column;
  background-color: rgba(0, 0, 0, 0.649);

  p,
  h2 {
    font-size: 1.5rem;
    color: white;
  }
}

.breakfastContainer {
}

@media screen and (min-width: 756px) {
  .headerFront {
    h1 {
      font-size: 5rem;
    }
  }

  .heroImgFront {
    height: 100vh;
  }
  .container {
    // margin-top: 300px;
  }
  .breakfastDescription {
    width: 70%;
    padding: 20px;
  }

  .breakfastContainer {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .backgroundBreakfast {
    height: 600px;
  }
  .breakfastDescription {
    height: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .backgroundImgFront {
    h1 {
      font-size: 8rem;
    }
  }

  .viewHotels {
    height: 400px;
  }

  .backgroundBreakfast {
    height: 1200px;
  }
  .breakfastDescription {
    height: 40%;
    width: 40%;

    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }

  .breakfastContainer {
  }
}
