@import "home";
@import "navigation";
@import "detail";
@import "result";
@import "login";
@import "footer";
@import "contact";
@import "admin";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Source+Sans+Pro:wght@700&family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Outfit:wght@300&family=Source+Sans+Pro:wght@700&family=Zen+Antique&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
p {
  font-size: 1rem;
  font-family: "Inconsolata", monospace;
}

label {
  font-family: "Inconsolata", monospace;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

button {
  border: 1px solid black;
}
button:hover {
  background-color: black;
  color: black;
}
