.background-login {
  z-index: -1;
  background-image: url(../../../pictures/bergen-full-img-pixlr.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: grid;
  // position: absolute;
  p {
    color: white;
  }
  top: 0;
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    color: #ffffffe1;
    margin-top: 30px;
  }
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.484);
  padding: 20px;
}

@keyframes popup {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #e7e7e7;
}
.input-parent {
  display: block;
  margin-bottom: 20px;
}

.input-parent input {
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background: #fff1f1;
  border: none;
  color: #000000;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}
.input-parent input:hover {
  background: white;
}
// .input-parent input:focus {
//   box-shadow: 0px 0px 0px 1px #0087ff;
// }
button {
  padding: 10px 18px;
  font-size: 15px;
  background: #1a3969;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #f4f4f4;
  transition: all 0.2s ease;
}
button:hover {
  opacity: 0.9;
}
button:focus {
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
}

@media screen and (min-width: 900px) {
  .loginContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 400px;
    height: 90%;
    justify-content: space-around;
    font-size: 30px;
  }
}
