.header-text {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

button {
  font-family: "Inconsolata", monospace;
}

.defaultBtnNavigation {
  background-color: #516e71;
  color: white;
  text-decoration: none;
  font-size: 20px;

  box-shadow: none;
  padding: 0;

  border: none;
  padding: none;
  font-weight: none;
}

.imgButton {
  width: 200px;
}

nav {
  display: flex;
  height: 15vh;

  position: relative;
  background-color: #516e71;
  z-index: 9;
  color: white;
  width: 100%;
}

.nav-mobile {
  display: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-right: 50px;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.logo-div {
  display: flex;
  width: 20%;
  align-items: center;
  padding: 20px;
}

.logo-img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

/*/ Mediaquery nav /*/
@media screen and (max-width: 900px) {
  .logo-div {
    width: 100%;
  }

  .logo-img {
    width: 50px;
  }
  .nav-links {
    display: none;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .nav {
    position: absolute;

    justify-content: flex-end;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 40px;
    margin-top: 20px;
    top: 50%;
    transform: translate(-70%, -100%);
    z-index: 10;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.767);
    position: absolute;
    width: 100%;

    a {
      color: white;
      font-size: large;
      text-decoration: none;
    }
  }

  .nav-links.open {
    clip-path: circle(990px at 100% -20%);
    -webkit-clip-path: circle(990px at 90%);
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.993);
    z-index: 88;

    .fade {
      margin: 20px;
    }
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  li.fade {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .nav-links li a {
    font-size: 30px;
  }
}
